<!-- THIS IS ALREADY IN A BODY lol okay...-->
<html>
  <head>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <!--Boostrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <title>Data visual solution</title>
    <!-- Colorbrewer -->
    <!-- <link rel="stylesheet" href="css/colorbrewer.css" type="text/css"> -->
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
      {{> navbar}}


      <div id="map-section" class="container-fluid">
          <div class = "row">
            <div class = "col-sm-12 col-lg-4 col-md-5">
              <div class="description">
                <h1>Business Geo-based prospects</h1><br>
                <p>Pick a location or hover over the map to learn more about the area.</p>
              </div>
              <div class="btn-group">
                <p id="location">Location:</p>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown_title">Select Location ▼</button>
                <div class="dropdown-menu scrollable-menu" role="menu">
                  <ul id="divNewNotifications">
                  </ul>
                </div> <!--end of dropdown-->
              </div> <!--end of button group-->

              <div class = "data shift">
                <h1 class="info"></h1> <!--Location-->
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                    <h4>Reward/Risk factor score</h5>
                  </div>
                  <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                    <h4>Potential demographic target size</h5>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                    <h4>Percentage return on investments</h4>
                  </div>
                </div>

                <div class="row">
                  <hr align="left">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 data">
                      <p class="data1"></p>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 data">
                      <p class="data2"></p>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 data">
                      <p class="data3"></p>
                  </div>
                </div>
              </div>

            </div><!--end of col-->

            <div class="clearfix visible-sm-block"></div>

            {{> map}}

          </div> <!--row-->

     </div> <!--container-->



    <!-- JAVASCRIPT -->
    <script src="./js/d3.min.js"></script>
    <script src="./js/colorbrewer.js"></script>
    <!-- <script src="./js/d3-legend.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="./js/jquery-2.2.3.min.js"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="./js/map.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/index.js"></script>
    <script type="text/javascript"></script>



  </body>
</html>
