<!-- THIS IS ALREADY IN A BODY lol okay...-->
<html>
  <head>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <!--Boostrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <!-- Legend -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.min.js">
  </head>
  <style>
    .legend {
      font-size: 12px;
    }
    rect {
      stroke-width: 2;
    }
  </style>


  <body data-spy="scroll" data-target=".navbar" data-offset="50">

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ÜBERÜNO</a>
          </div>
          <div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#map-section">Map</a></li>
                <li><a href="#section2">Statistic</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="jumbotron">
        <div class="title">
          <h1 id="name">ÜBERÜNO</h1>
          <p>Our goal is to help Uber/Lyft Drivers gain the most profit by identifying areas in San Diego with the least availability of transportation.
          <div>
            <a href="#map-section" class="btn btn-lg active" role="button">Learn Where You Can Profit Most In San Diego</a>
          </div>
        </div>
      </div>
      <div id="map-section" class="container-fluid">

          <div class = "row">
            <div class = "col-sm-4">
              <div class="description">
                <h1>Availability of Vehicles in San Diego</h1><br>
                <p>Pick a location and see the number of households that do not have vehicles.</p>
                <p>Hover over the map to see more statistics.</p>
              </div>
              <div class="btn-group">
                <p id="location">Location:</p>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown_title">Select Location ▼</button>
                <div class="dropdown-menu scrollable-menu" role="menu">
                  <ul id="divNewNotifications">
                    <li><a class="dropdown-item" >ALPINE</a></li>
                    <li><a class="dropdown-item" >CENTRAL SAN DIEGO</a></li>
                    <li><a class="dropdown-item" >CHULA VISTA</a></li>
                    <li><a class="dropdown-item" >CORONADO</a></li>
                    <li><a class="dropdown-item" >COSTAL</a></li>
                    <li><a class="dropdown-item" >DEL MAR MIRA MESA</a></li>
                    <li><a class="dropdown-item" >EL CAJON</a></li>
                    <li><a class="dropdown-item" >ELLIOT NAVAJO</a></li>
                    <li><a class="dropdown-item" >HARBISON CREST</a></li>
                    <li><a class="dropdown-item" >JAMUL</a></li>
                    <li><a class="dropdown-item" >KERNY MESA</a></li>
                    <li><a class="dropdown-item" >LA MESA</a></li>
                    <li><a class="dropdown-item" >LAKESIDE</a></li>
                    <li><a class="dropdown-item" >LEMON GROVE</a></li>
                    <li><a class="dropdown-item" >MID CITY</a></li>
                    <li><a class="dropdown-item" >MIRAMAR</a></li>
                    <li><a class="dropdown-item" >NATIONAL CITY</a></li>
                    <li><a class="dropdown-item" >NORTH SAN DIEGO</a></li>
                    <li><a class="dropdown-item" >PENINSULA</a></li>
                    <li><a class="dropdown-item" >POWAY</a></li>
                    <li><a class="dropdown-item" >SOUTH BAY</a></li>
                    <li><a class="dropdown-item" >SOUTHEASTERN SAN DEIGO</a></li>
                    <li><a class="dropdown-item" >SPRING VALLEY</a></li>
                    <li><a class="dropdown-item" >SWEETWATER</a></li>
                    <li><a class="dropdown-item" >UNIVERSITY</a></li>
                  </ul>
                </div> <!--end of dropdown-->
              </div> <!--end of button group-->

              <div class = "data shift">
                <h1 class="info"></h1> <!--Location-->
                <div class="row">
                  <div class="col-sm-4">
                    <h4>Number of Households Who Don't Have Vehicles Available</h5>
                  </div>
                  <div class = "col-sm-4">
                    <h4>Total Households in the Area</h5>
                  </div>
                  <div class="col-sm-4">
                    <h4>Percentage of Households That Don't Have Vehicles</h4>
                  </div>
                </div>
                <div class="row">
                  <hr align="left">
                  <div class="col-sm-4 data">
                      <p class="data1"></p>
                  </div>
                  <div class="col-sm-4 data">
                      <p class="data2"></p>
                  </div>
                  <div class="col-sm-4 data">
                      <p class="data3"></p>
                  </div>
                </div>
                </div>

            </div><!--end of col-->
            <div class = "col-sm-4">
              <div id="map-wrap">
                <div class ="col-lg-offset-4 col-lg-5">
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div> <!--row-->


          

          
            
     </div> <!--container-->

      <div id="section2" class="container-fluid">
        <div class="description">
          <h1>Statistics</h1><br>
          <h4>Location</h4>
          <div class="data5"></div>
          <h4>Highest Percentage of Households That Don't Have Vehicles in San Diego</h4>
          <div class="data4"></div>
        </div>
        
      </div>



      <!-- JAVASCRIPT -->
    <script src="./js/d3.min.js"></script>
    <!-- <script src="./js/d3-legend.js"> -->
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="./js/jquery-2.2.3.min.js"></script>

    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="./js/map.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/index.js"></script>

    <script type="text/javascript">
    </script>
  </body>
</html>
