<!-- THIS IS ALREADY IN A BODY lol okay...-->
<html>
  <head>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
    <!--Boostrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/index.css" type="text/css">
  </head>

  <body>
    <div class="jumbotron">
      <h1>Money For Drivers</h1>    
      <p>Our goal is to help Uber/Lyft Drivers gain the most profit by identifying areas in San Diego with the most alcohol-related car crashes.</p>
    </div>

    <div id="map-wrap">
      <div id="map">
      </div>
    </div>


      <!-- JAVASCRIPT -->
    <script src="./js/d3.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!--<script src="./js/index.js"></script>-->
    <script src="./js/map.js"></script>
  </body>
</html>