html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  /*font-family: 'Alegreya Sans', sans-serif; */
  font-family: 'Fjalla One', sans-serif;
  background-color: black;
  
}

p {
  font-size: 15pt;
  font-weight:200;
}


@media screen and (min-width: 992px )  {
  #map-section {
    padding-top:100px;
    height:800px;
    color: black; 
    background-color: #d1ccc9;
  }
}

@media screen and (max-width: 992px )  {
  #map-section {
    padding-top:100px;
    color: black; 
    background-color: #d1ccc9;
  }
}

#map {
  width: 100%;
  height: 600px;
  margin: auto;
}

.cities {
  position: relative;
  width: 500px;
  height: 500px;           
}
        
.cities svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px;        
}
        
.cities path {
  stroke-width: 1px;
  fill-opacity: 0.5;
}

.cities path:hover {
  fill: red;
  fill-opacity: 0.8;
}

.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart rect {
  fill: #d8b0ff;
}

.graph {
  text-align: center;
  color: black;
}

/* Style for Index */
.jumbotron {
  background-image: url("../image/cars.jpg");
  height: 600px;
  margin:0;
}

.title {
  text-align: center;
  color: black;
  font-size: 80pt;
  font-weight: bolder;
  font-family: 'Fjalla One', sans-serif;
  padding-top: 150px;
}

#name {
  font-size: 100pt;
}

.description {
  padding-left: 50px;
  padding-bottom: 50px;
  color: black;
}


#stat-section {
  padding-top:50px;
  height: 950px;
  background-color: #AB9683;
}


.btn {
  margin: 20px;
  background-color:#F0DAC7;
  border: 2px solid #fff;
  color: black;
  width: 400px;
  font-weight:900;
}

.btn-group{
  padding-left:50px;
}

.dropdown-menu {
  width: 400px !important;
  height: 400px !important;
}

.scrollable-menu {
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;        
}    
.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
} 

ul {
  list-style-type: none;
}

.data2 {
  margin-left: 20px;

}

.num {
    font-size: 20px;
}

.shift {
  margin-left: 50px;
  padding-top: 20px;
}

#location {
  margin: 0px;
  font-size: 20px;
  border: 0px;
  padding: 0px;
}

.button2 {
  text-align: center;
}